@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "League_Spartan";
  src: url("../font/League_Spartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "DM_Sans";
  src: url("../font/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
}

.font-League-Spartan {
  font-family: 'League_Spartan';
}

.font-DM-Sans{
  font-family: 'League_Spartan';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #11141D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.summary-custom-bg {
  border-radius: 0px 0px 20px 20px;
  border: 1px solid rgba(151, 71, 255, 0.46);
  background: linear-gradient(90deg, rgba(151, 71, 255, 0.50) 0%, rgba(151, 71, 255, 0.00) 100%);
}
